[Unit]
Description=enable real-time settings for audio applications

[Service]
Type=oneshot
ExecStart=/opt/admintools/real-time_settings.py on
ExecStop=/opt/admintools/real-time_settings.py off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
